@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    transition: all 1s;
    overflow-x: hidden;
}

.bg_pink {
    background-color: #C47C7C;
}

.w_400 {
    width: 450px;
}

.post_image:nth-child(odd) {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 500px ) {
    .w_400 {
        width: auto;
    }
}